* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.caixa {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-image: url("../img/fundo.jfif");
  padding: 10px;
  min-height: 100%;
  margin-top: 64px;
}
.header {
  height: 64px;
  background-color: brown;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.valor {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid;
  outline: 0;
  font-size: 1em;
  width: 40%;
  justify-content: end;
  height: 40px;
}

.valor::placeholder{
  color: black;
}

.tipo {
  font-size: 1em;
  width: 40%;
  justify-content: center;
  height: 40px;
  background-color: transparent;
  outline: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid;
}

.caixa-textos {
  background-color: red;
}

.caixa-latas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.lata {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(45deg, #db8103, transparent);
  border-radius: 10px;
  width: 45%;
  height: 180px;
}

.selectinput {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

img {
  max-width: 100%;
  max-height: 80%;
}

.lata-adicionar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-adicionar {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  text-align: center;
  cursor: pointer;
}

#caixa-novo-ml {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(170, 170, 170, 0.733);
  top: 0;
  left: 0;
}

#caixa-interna-novo-ml {
  width: 70%;
  height: 40%;
  background-color: rgb(162, 201, 174);
  position: absolute;
  top: 30%;
  left: 15%;
  text-align: center;
  padding: 10px;
  border-radius: 5%;
  box-shadow: 10px 11px 15px rgb(0 0 0 / 51%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


  /* 
    Estilizar os botões, criando uma classe pra botões pra poder usar em qualquer botão
    Posicionar os botões na caixa com espaço entre eles, usando display flex
  */