* {
  font-family: Arial,'beer','Bebas Neue';
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'beer';
  src: url('../fonte/fonte.otf') format('opentype');
}



html,body {
  height: 100%;
}

.caixa {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-image: url("../img/fundo.jfif");
  background-size: cover;
  padding: 10px;
  min-height: 100%;
  margin-top: 64px;
  
}
.header {
  height: 64px;
  background-color: #FFF30D;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'beer';
}

.fontenome {
  color: #806000;
  font: 40px 'beer';

}


.valor {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid;
  outline: 0;
  font-size: 1em;
  width: 40%;
  justify-content: end;
  height: 40px;
}

.valor::placeholder{
  color: #806000;
  text-align: center;
}

.tipo {
  display: flex;
  justify-content: space-evenly;
  
  width: 100%;
  
}

.caixa-textos {
  background-color: #806926;
}

.caixa-latas {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.lata {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(45deg, #E8C70C, transparent);
  border-radius: 10px;
  width: 36%;
  height: 180px;
  position: relative;
}

.escolha {
  font-size: 1.3em;
  color: #806926;
  text-align: center;
}

.selectinput {
  font: bold;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

img {
  max-width: 100%;
  max-height: 80%;
}

.lata-adicionar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-adicionar {
  position: absolute;
  top: 83px;
  right: 20px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #806926;
  color: white;
  text-align: center;
  cursor: pointer;
  
}

#caixa-novo-ml {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #806926;
  top: 0;
  left: 0;
  display: none;

}

#caixa-interna-novo-ml {
  width: 70%;
  height: 40%;
  background-color: #FFD24D;
  position: absolute;
  top: 30%;
  left: 15%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px #806926;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #806000;
  
}
.appbotao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.appbotao button {
 
 color: white;
 border-radius: 6px;
 background-color: #E8C70C;
 padding: 10px;
 border: none;
 cursor: pointer;
 margin: 10px 20px;
 justify-content: space-between;
 box-shadow: 0 0 0 2px white;
}

.appbotao button:hover {
  background-color: #E6AC00;
}

.fechar {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #E8C70C;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  box-shadow: 10px 11px 15px rgb(0 0 0 / 51%) ;
}

.fechar:hover {
  background-color: #806000;
}

.fechar:active {
  background-color: #806000;
}

.deletar {
  font-size: 1.5em;
  border-radius: 50%;
  position: absolute;
  background-color: hsla(0, 44%, 10%, 0.446);
  color: white;
  font: bolder;
  cursor: pointer;
  right: -3px;
  bottom: 161px;
  width: 32px;
  
}

.bolinha {
  font-family: 'Bebas Neue';
  font-size: 1.3em bold;
  background-color: yellow;
  border-radius: 15px;
  padding: 5px;
  border: 3px solid yellow;
  margin-bottom: 50px;
}

.bolinha:hover {
  background-color: #9e9e1e;
  cursor: pointer;
  color: white;
}

.botao-ativo {
  background-color: #9e9e1e;
  color: white;
}

  